<div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
      <%= image_tag post.image_url, size: '160x160' %>
    </div>
  <% end %>
  <div class="lead-btn-area">
    <%= link_to "→オリジナルの略字を作る", signup_path, class: 'lead-button animate__animated animate__bounce animate__fast animate__repeat-3' %>
  </div>
</div>
