<h3><%= comment.user.name %>さん</h3>
<pre><%= comment.body %></pre>
<% if comment.user == current_user %>
  <p><%= link_to "コメントを削除する", [@post, comment], method: :delete, data: { confirm: '本当に削除していいですか？' } %></p>
<% end %>