<div class="row">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4 users-index-center">
    <h1>ユーザー一覧</h1>
    <%= will_paginate %>
      <ul class="users-index-users-list">
        <%= render @users %>
      </ul>
    <%= will_paginate %>
  </div>
  <div class="col-md-4">
    
  </div>
</div>