<div class="row">
  <div class="col-md-4">
    <aside class="user_info">
      <section>
        <h1>Profile</h1>
        <h2>
          <%= gravatar_for @user, size: 80 %> 
          <%= @user.name %>
        </h2>
        <p>
          <%= link_to "設定ページ", edit_user_path(@user) %>
        </p>
      </section>
    </aside>
  </div>
</div>