<div class="row">
  <div class="col-md-6">
    <h1>プロフィール</h1>
    <h3>
      <%= gravatar_for @user, size: 80 %> 
      <%= @user.name %>
    </h3>
    <div>
      <%= link_to "設定ページへ行く", edit_user_path(@user) %>
    </div>
  </div>
  <div class="col-md-6">
    
  </div>
</div>