/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
@import "bootstrap";
@import "rails_bootstrap_forms";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.dropdown {
  margin: 0 0 0 auto;
  position: relative;
}

.dropdown-btn {
  display: block;
  padding: 8px 0;
  background: none;
  border: 0;
  color: #00000080;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.dropdown-btn.is-open + .dropdown-body {
  display: block;
  z-index: 5;
}

.dropdown-body {
  display: none;
  width: 150px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  left: 0;
}

.dropdown-list {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  display: block;
}

.dropdown-item-link {
  display: block;
  font-size: 0.95em;
  text-decoration: none;
  color: #00000080;
}

.dropdown-item-link:hover {
  background: #fbfbfb;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

footer {
  text-align: center;
  margin: 50px;
}
