/* -----------posts/index----------- */

.search{
    height: 70px;
    width: 250px;
    margin: 0 auto 20px;
}

ul.pagination {
  justify-content: center;
}

.index-content{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-content .index-item {
  width: 50%;
  position: relative;
}

.index-ryakuji {
  display: block;
  border: 5px solid black;
}

.index-origin {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 5px;
}

.index-stroke-count {
  font-size: 32px;
  position: absolute;
  top: 310px;
  left: 5px;
}

.index-comment-count {
  display: block;
  font-size: 16px;
}

@media screen and (max-width: 768px){
    .wrapper {
        margin: 25px;
    }
    
    .search {
        margin: 0 0 0 25px;
    }
    
    .index-content{
        flex-direction: column;
        margin-top: 25px;
    }
    
    .index-content .index-item {
        width: 100%;
    }
}

/* ----------------posts/new----------------- */
.draw-wrapper {
    display: flex;
}

#draw-area {
  background-color: #fff;
}

.draw-settings {
  margin-left: 25px;
  text-align: center;
}

.draw-buttons {
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #aaa;
}

.draw-buttons .btn {
  display: inline-block;
  margin: 5px;
  padding: 6px;
}

.draw-form {
    margin-top: 15px;
}

.draw-settings .form-group {
    margin-bottom: 5px!important;
}

.origin-field,
.stroke-count-field {
  width: 80px!important;
  margin: 0 auto;
}


/*------------posts/show-----------*/
.content{
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.ryakuji-area {
  margin-bottom: 50px;
}

.ryakuji-area .item {
  position: relative;
  margin-bottom: 20px;
}


.ryakuji {
  display: block;
  border: 5px solid black;
}

.origin {
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 5px;
}

.stroke-count {
  font-size: 48px;
  position: absolute;
  top: 395px;
  left: 5px;
}

.comment-count {
  display: block;
  font-size: 16px;
}

.comment-user-name {
  font-size: 16px;
  text-align: left;
}

.comment-body {
  font-size: 16px;
  background-color: #eee;
  padding: 5px 0px 5px 10px;
  text-align: left;
}

/*----------------posts/edit-------------*/

.edit-btn {
  display: block;
  float: left;
}

.destroy-btn {
  display: block;
  float: right;
}

