.login_form .btn,
.accountRegistrationLead,
.login-help {
  text-align: center;
}

.login_form .btn {
  width: 100%;
}

.accountRegistrationLead {
  margin-top: 30px;
  border-top: 1px solid #d9d9d9;
  padding: 15px;
}