.login-wrapper {
  margin-top: 100px;
}

.login-wrapper .btn,
.accountRegistrationLead{
  text-align: center;
}

.login-wrapper .btn {
  width: 100%;
  margin-bottom: 20px;
}

.accountRegistrationLead {
  margin-top: 30px;
  border-top: 1px solid #d9d9d9;
  padding: 15px;
}