.top-page-ryakuji-area {
  text-align: center;
  margin-bottom: 30px;
}

.top-page-ryakuji {
  border: 3px solid black;
}

.lead-button {
  display: block;
  width: 520px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 15px;
  color: white;
}


.lead-button:hover {
  color: white;
  text-decoration: none;
}
