.signup-wrapper{
  margin-top: 100px;
}

.signup-wrapper form {
  margin-top: 50px;
}

.signup-wrapper .btn {
  width: 100%;
}

.users-edit-center > h1,
.users-edit-center > form {
  margin-bottom: 30px;
}
