.users-index-users-list {
  list-style: none;
  margin-bottom: 20px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

.users-index-center h1,
.users-index-center ul {
  margin-bottom: 30px;
}

.users-signup-center h1,
.users-signup-center form {
  margin-bottom: 30px;
}

.users-signup-center .btn {
  width: 100%;
}

.users-edit-center > h1,
.users-edit-center > form,
.users-edit-center > div {
  margin-bottom: 30px;
}