<footer>
  <div class="container" style="text-align: center;">
    <small>
      Website logo by <a href="https://ja.cooltext.com">Cool Text: Free Logos and Buttons</a> - <a href="https://ja.cooltext.com/Edit-Logo?LogoID=3608965246">Create An Image Just Like This</a>  
    </small>  
  </div>
</footer>